/**
 *  Colors
 */
$gray-dark: #373737;
$green: #2ecdae;
$white: #fff;
$black: #000;
$gray: #5d5d5d;
$bg-color-light: #f5f6f8;
$dark-blue: #180c4b;
$blue: #233488;
$border-color: #c7c7c7;
$gradient: linear-gradient(182deg, #4964bd 0%, #233488 100%);
$slider-btn-gradient: linear-gradient(175deg, #4964bd 0%, #233488 100%);
$multi-slider-gradient:linear-gradient(179deg, #ffffff 0%, #f8f9fa 100%);
$black-light: #212121;
$privacy-bg-color: #3f51b5;


/**
 *  Fonts
 */

$bitter: "Bitter", sans-serif;
$open-sans: "Open Sans", sans-serif;
